body {
  font-family: "bebas_neueregular", sans-serif;
  height: 800px;
  background: #2c2c54;
  overflow-x: hidden;
}

h2 {
  font-size: 30px;
  padding: 120px 0 20px 0;
  color: #639bf6;
}

h3 {
  padding: 60px 0 20px 0;
  font-weight: bold;
  color: #639bf6;
}

#dad-logo {
  display: flex;
  flex-direction: row;
  background: none !important;
  margin-bottom: 50px;
  width: 500px;
  align-self: center;
}

#dad-logo > div {
  width: 100%;
}

#dad-logo img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.cover {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Dad should ignore margin */
.dad-demo > div {
  margin-bottom: 15px;
}

.dad-demo .item {
  position: relative;
  font-family: "Arial", sans-serif;
  align-content: center;
  justify-content: center;
  height: 10vw;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  background: #639bf6;
  color: #2c2c54;
  box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.8);
}

.dad-demo span:not(.draggable) {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dad-demo span.draggable {
  text-align: center;
  display: block;
  width: 100%;
  background: #639bf6;
  color: #2c2c54;
  margin-bottom: 5px;
}

#dad-horizontal {
  display: flex;
  flex-direction: row;
}

#dad-vertical {
  display: flex;
  flex-direction: column;
}

#dad-multiline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#dad-horizontal > div {
  flex-direction: row;
}

#dad-horizontal > div,
#dad-vertical > div,
#dad-multiline > div {
  width: 100%;
}

#dad-multiline > div {
  width: 25%;
  flex-wrap: wrap;
}

#dad-draggable,
#dad-droppable,
#dad-bootstrap {
  display: block;
}

footer {
  background: #18182b;
  text-align: center;
  color: #639bf6;
  padding: 30px 10px;
  margin-top: 40px;
  font-size: 18px;
}

footer a {
  color: #639bf6;
}

footer a:hover {
  text-decoration: none;
  color: #639bf6;
}
