* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "bebas_neueregular", sans-serif;
  height: 800px;
  background: black;
}
h2 {
  font-size: 30px;
  padding: 120px 0 20px 0;
  color: #639bf6;
}
h3 {
  padding: 60px 0 20px 0;
  font-weight: bold;
  color: #639bf6;
}
.margin {
  padding: 100px 0;
}
.logo {
  background: none !important;
}
.logo img {
  max-width: 100%;
  display: block;
  padding: 0 15px;
}
#daddy::after {
  content: "";
  clear: both !important;
  display: block;
}
#daddy > div {
  box-sizing: border-box;
  width: 20%;
  padding: 5px;
  float: left;
  display: block;
  position: relative;
}
#daddy > div > div {
  display: block;
  height: 120px;
  line-height: 120px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: #639bf6;
  color: white;
  font-family: "Arial", sans-serif;
}
#daddy2::after {
  content: "";
  clear: both !important;
  display: block;
}
#daddy2 > div {
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  float: left;
  display: block;
  position: relative;
}
#daddy2 > div > div {
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: #639bf6;
  color: white;
  font-family: "Arial", sans-serif;
}
#daddy3::after {
  content: "";
  clear: both !important;
  display: block;
}
#daddy3 > div {
  box-sizing: border-box;
  width: 25%;
  padding: 5px;
  float: left;
  display: block;
  position: relative;
}
#daddy3 > div > div,
.item {
  display: block;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background: #639bf6;
  color: white;
  font-family: "Arial", sans-serif;
}
.item {
  margin: 15px;
  display: block;
  background: #639bf6;
  position: relative;
}
.comments {
  background: black;
  margin: 50px 0 0 0;
  padding: 30px;
}
footer {
  display: block;
  margin-top: 100px;
  padding: 20px 0;
  background: #000000;
}
footer img {
  width: 150px;
}
footer span {
  color: #639bf6;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  display: block;
}
.draggable {
  border-bottom: 4px solid black;
  font-family: "bebas_neueregular", sans-serif;
  color: #ffffff;
  line-height: 18px;
  text-align: center;
  font-size: 16px;
  width: 100%;
  display: block;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  background: #639bf6;
}
.downloadContainer {
  max-width: 100%;
  display: block;
  position: relative;
  width: 716px;
  margin: 150px auto 0 auto;
}
.button {
  max-width: 100%;
  border: 4px solid #639bf6;
  box-sizing: border-box;
  display: block;
  float: left;
  width: 716px;
  margin: 4px;
  color: #000000;
  text-align: center;
  font-size: 21px;
  padding: 10px 20px;
  background: #639bf6;
}
.button:hover {
  background: transparent;
  cursor: pointer;
  border: 4px solid #639bf6;
  text-decoration: none;
  color: #639bf6;
}
.desc {
  font-size: 21px;
}
.dropzone::before {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  content: "Drop here to remove";
  line-height: 260px;
  text-align: center;
  width: 100%;
  display: block;
  font-size: 26px;
}
.dropzone {
  border: 4px dashed #639bf6;
  color: #639bf6;
  min-height: 260px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  opacity: 0.3;
}
.btndemo {
  width: 100px;
  text-align: center;
  margin: 15px;
  border: solid #639bf6;
  display: block;
  height: 50px;
  line-height: 42px;
  font-family: "bebas_neueregular", sans-serif;
  float: left;
  background: #639bf6;
  color: white;
  font-size: 16px;
}
.btndemo:hover,
.btndemo.active {
  text-decoration: none;
  color: #639bf6;
  background: black;
  border: 4px solid #639bf6;
}
.dropzone.active {
  opacity: 1;
}
